<main class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="card bg-secondary text-white mb-3">
                <div class="card-body ">
                    <article class="mb-3">
                        <h3 class="card-title">
                            Product name: {{product.name}}
                        </h3>
                        <p class="card-text">
                            Price: {{product.price}}
                        </p>
                        <p class="card-text">
                            Quantity: {{product.quantity}}
                        </p>
                        <p class="card-text">
                            By: {{product.seller_username}}
                        </p>
                    </article>
                    <div>
                        <a href="/user/buyer/products/buy/{{product.prod_id}}" class="btn btn-primary">Buy this product</a>
                    </div>
                </div>
            </div>
            <div>
                <a href="/user/" class="btn btn-primary mr-3">Go back to the dashboard</a>
                <a href="/user/buyer/products/view/all" class="btn btn-info">Go back to all products</a>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</main>